/*background colour*/
body {
    background-color: #fbd26a;
}

/* text */
h1{
    font-family: "Microsoft YaHei", serif;
    color:black;
}

p{
    text-indent:2em;
    padding:0;
    margin:24px;
    color: dimgrey;
    font-family: "Times New Roman", serif;
}

/*button*/
#fixed{
	position: fixed;
	right:0;
	bottom: 0;
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

/*https://developer.mozilla.org/en-US/docs/web/css/width*/
#camera_picture{
	width: auto;
	height: 200px;
}