{#{% extends "base.html" %}#}
{##}
{#{% block title %}#}
{#    Home page#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="container text-center">#}
{#        <div class="row align-self-start">#}
{#            <h1 class="display-2"><strong>Welcome To Use Camera Choose System</strong></h1>#}
{#        </div>#}
{#        <div class="row align-self-center">#}
{#            <p>Selecting the right camera is of paramount importance for novice photographers, as it directly impacts the process of photographic learning and the quality of the captured images. However, it is worth emphasizing that choosing the right camera does not necessarily equate to acquiring the most expensive one. What is crucial is a thorough understanding of one's needs and budget, allowing for the meticulous selection of a camera that truly suits those requirements. Subsequently, through continuous learning and practical experience, one can steadily enhance their photography skills. It is essential to recognize that a camera is merely a tool; the real key to successful photography lies in the photographer's own vision and technical expertise.</p>#}
{#        </div>#}
{#        <div class="row align-self-end">#}
{#            <a type="button" class="btn btn-outline-primary btn-lg col" href="{{ url_for("main.knowledge") }}">Knowledge about parameters</a>#}
{#            <a type="button" class="btn btn-outline-primary btn-lg col" href="{{ url_for("main.select") }}">Select your camera</a>#}
{#            <a type="button" class="btn btn-outline-primary btn-lg col" href="{{ url_for("main.search") }}">Camera parameter search</a>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{% extends "base.html" %}

{% block title %}
    Home page
{% endblock %}

{% block content %}
<div class="container text-center d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="row">
        <h1 class="display-2"><strong>Welcome To Use Camera Choose System</strong></h1>
    </div>
    <div style="height: 30px;"></div>
    <div class="row">
        <p>Selecting the right camera is of paramount importance for novice photographers, as it directly impacts the process of photographic learning and the quality of the captured images. However, it is worth emphasizing that choosing the right camera does not necessarily equate to acquiring the most expensive one. What is crucial is a thorough understanding of one's needs and budget, allowing for the meticulous selection of a camera that truly suits those requirements. Subsequently, through continuous learning and practical experience, one can steadily enhance their photography skills. It is essential to recognize that a camera is merely a tool; the real key to successful photography lies in the photographer's own vision and technical expertise.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <a type="button" class="btn btn-outline-dark btn-lg col-4" href="{{ url_for("main.knowledge") }}">Knowledge about parameters</a>
        <a type="button" class="btn btn-outline-primary btn-lg col-4" href="{{ url_for("main.select") }}">Select your camera</a>
        <a type="button" class="btn btn-outline-dark btn-lg col-4" href="{{ url_for("main.search") }}">Camera parameter search</a>
    </div>
</div>
{% endblock %}

