{% extends "base.html" %}

{% block title %}
    Camera Information
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <div class="display-3">Camera Information Search</div>
        </div>
        <hr>
    </div>
    <div class="row">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>image</th>
                    <th>Name</th>
                    <th>Brand</th>
                    <th>ImageSensor</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><a href="{{ url_for("main.search_item", Name=item.Name) }}"><img src="{{ item.Herf }}" alt="Camera_picture" id="camera_picture"></a></td>
                    <td>{{ item.Name }}</td>
                    <td>{{ item.Brand }}</td>
                    <td>{{ item.ImageSensor }}</td>
                    <td>{{ item.Price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- return bottom -->
    <div class="row justify-content-center">
        <a type="button" class="btn btn-outline-secondary btn-lg col-3" href="{{ url_for("main.index") }}">Return</a>
    </div>
    <div style="height: 50px;"></div>
</div>
{% endblock %}
