{% extends "base.html" %}

{% block title %}
    Select Option Input
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="col-md-6">
            <form method="post">
                <fieldset>
                    <legend><h1 class="display-3"><strong>Identify Your Needs</strong></h1></legend>
                    <div class="btn-group-toggle" data-toggle="buttons" style="flex-direction: column;">
                        <label class="btn btn-success btn-lg mb-3">
                            <input type="checkbox" id="LowLight" name="LowLight" value="True" /> Low-light shooting
                        </label>
                        <label class="btn btn-success btn-lg mb-3">
                            <input type="checkbox" id="LightCamera" name="LightCamera" value="True" /> Lightweight body
                        </label>
                        <label class="btn btn-success btn-lg mb-3">
                            <input type="checkbox" id="QPRatio" name="QPRatio" value="True" /> Don't want to spend too much
                        </label>
                        <label class="btn btn-success btn-lg mb-3">
                            <input type="checkbox" id="LargePiece" name="LargePiece" value="True" /> Output of large-size works
                        </label>
                        <label class="btn btn-success btn-lg mb-3">
                            <input type="checkbox" id="Sport" name="Sport" value="True" /> Sports photography
                        </label>
                    </div>
                </fieldset>
                <div class="text-center mt-4">
                    <input type="submit" class="btn btn-primary btn-lg" value="Confirmation of Requirements">
                </div>
            </form>
            <!-- Back to select main page -->
            <div class="text-center mt-4">
                <a type="button" class="btn btn-outline-secondary btn-lg col-4" href="{{ url_for("main.select") }}">Return</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}